# AnyUserNoEscalationOnDarwin()
# [DisplayProbe()]
# [AnyProbes([CommandProbe("discord"), FileProbe("/Applications/Discord.app")])]
# Downloads latest .deb package for Discord from the website.

- name: "Install Discord"
  hosts: localhost
  connection: local
  become: true
  gather_facts: true
  tasks:
    - name: "Install Discord from Website (Linux)"
      register: aptout
      apt:
        deb: https://discord.com/api/download?platform=linux&format=deb
      when: ansible_os_family == "Debian"
    - debug: var=aptout
      when: ansible_os_family == "Debian"

    - name: "Install Discord (macOS)"
      community.general.homebrew_cask:
        name: discord
        state: present
      when: ansible_os_family == "Darwin"
