# OnlyRoot()
# [AptProbe(), AmdProbe(), DisplayProbe()]
# [CommandProbe("mullvad")]
# Installs the GUI client for Mullvad via .deb

- name: "Install Mullvad"
  hosts: localhost
  connection: local
  become: true
  gather_facts: false
  tasks:
    - name: "Install Mullvad"
      register: aptout
      apt:
        deb: https://mullvad.net/download/app/deb/latest/
    - debug: var=aptout
