# AnyUserNoEscalationOnDarwin()
# [DisplayProbe()]
# [AnyProbes([CommandProbe("mullvad"), FileProbe("/Applications/Mullvad VPN.app")])]
# Installs the GUI client for Mullvad via .deb

- name: "Install Mullvad"
  hosts: localhost
  connection: local
  become: true
  gather_facts: true
  tasks:
    - name: "Install Mullvad (Linux)"
      register: aptout
      apt:
        deb: https://mullvad.net/download/app/deb/latest/
      when: ansible_os_family == "Debian"
    - debug: var=aptout
      when: ansible_os_family == "Debian"

    - name: "Install Mullvad (macOS)"
      community.general.homebrew_cask:
        name: mullvad-vpn
        state: present
      when: ansible_os_family == "Darwin"
