# AnyUserEscalation()
# [AmdProbe(), DisplayProbe()]
# Downloads the tor browser to ~/.local/bin/

- name: Install Tor Browser securely
  hosts: localhost
  connection: local
  become: true
  gather_facts: false
  vars:
    user_home: "{{ lookup('env', 'HOME') | default(lookup('env', 'USERPROFILE')) }}"
    tor_version: "14.5.1"
    install_dir: "{{ user_home }}/.local/"
    temp_dir: /tmp
    tarball_name: "tor-browser-linux-x86_64-{{ tor_version }}.tar.xz"
    gpg_key_id: EF6E286DDA85EA2A4BA7DE684E2C6E8793298290

  tasks:
    - name: Download Tor Browser package
      get_url:
        url: "https://www.torproject.org/dist/torbrowser/{{ tor_version }}/{{ tarball_name }}"
        dest: "{{ temp_dir }}/{{ tarball_name }}"

    - name: Download signature file
      get_url:
        url: "https://www.torproject.org/dist/torbrowser/{{ tor_version }}/{{ tarball_name }}.asc"
        dest: "{{ temp_dir }}/{{ tarball_name }}.asc"

    - name: Verify GPG key presence
      command: gpg --list-keys "{{ gpg_key_id }}"
      register: gpg_check
      ignore_errors: yes
      changed_when: false

    - name: Import Tor project GPG key
      command: gpg --auto-key-locate nodefault,wkd --locate-keys torbrowser@torproject.org
      when: gpg_check.rc != 0

    - name: Create temporary keyring
      command: gpg --output {{ temp_dir }}/tor.keyring --export {{ gpg_key_id }}

    - name: Verify package signature
      command: >
        gpgv --keyring {{ temp_dir }}/tor.keyring
        {{ temp_dir }}/{{ tarball_name }}.asc
        {{ temp_dir }}/{{ tarball_name }}

    - name: Extract package
      unarchive:
        src: "{{ temp_dir }}/{{ tarball_name }}"
        dest: "{{ temp_dir }}"
        remote_src: yes

    - name: "Remove Tmp Tar"
      register: aptout
      file:
        path: "{{ temp_dir }}/{{ tarball_name }}"
        state: absent
    - debug: var=aptout

    - name: "Remove Tmp Tar.asc"
      register: aptout
      file:
        path: "{{ temp_dir }}/{{ tarball_name }}.asc"
        state: absent
    - debug: var=aptout

    - name: "Remove Tmp Keyring"
      register: aptout
      file:
        path: "{{ temp_dir }}/tor.keyring"
        state: absent
    - debug: var=aptout

    - name: "Remove Previous Install of Tor"
      register: aptout
      file:
        path: "{{install_dir}}/tor-browser/"
        state: absent
    - debug: var=aptout

    - name: "Remove Previous Symlink"
      register: aptout
      file:
        path: "{{user_home}}/.local/bin/tor-browser"
        state: absent
    - debug: var=aptout

    - name: Install Tor Browser
      register: aptout
      command:
        cmd: mv "{{ temp_dir }}/tor-browser/" "{{install_dir}}"
    - debug: var=aptout

    - name: Create application symlink
      file:
        src: "{{ install_dir }}/tor-browser/Browser/start-tor-browser"
        dest: "{{ user_home }}/.local/bin/tor-browser"
        state: link

