# OnlyRoot()
# []
# [CommandProbe("gdu")]
# Pretty fast disk usage analyzer written in Go.

- name: "Install gdu"
  hosts: localhost
  connection: local
  become: true # Remove this if AnyUserNoEscalation
  gather_facts: true
  tasks:
    - name: "Install gdu package (Linux)"
      register: aptout
      apt:
        state: latest
        update_cache: true
        name:
          - gdu
      when: ansible_os_family == "Debian"
    - debug: var=aptout
      when: ansible_os_family == "Debian"

    - name: "Install gdu (macOS)"
      community.general.homebrew:
        name: gdu
      when: ansible_os_family == "Darwin"
