# OnlyRoot()
# [AmdProbe(), DisplayProbe()]
# Installs the `imhex` AppImage. This may not work out of the box on systems without FUSE.

- name: "Install imhex"
  hosts: localhost
  connection: local
  become: true
  gather_facts: false
  tasks:
    - name: "Download imhex AppImage"
      register: aptout
      get_url:
        url: https://github.com/WerWolv/ImHex/releases/download/v1.35.4/imhex-1.35.4-x86_64.AppImage
        dest: /usr/bin/imhex
        mode: '0775'
    - debug: var=aptout

