# OnlyRoot()
# [DisplayProbe()]
# [CommandProbe("meld")]
# EXTREMELY GOOD GUI for directory and file diffs.

- name: "Install meld"
  hosts: localhost
  connection: local
  become: true # Remove this if AnyUserNoEscalation
  gather_facts: true
  tasks:
    - name: "Install meld package (Linux)"
      register: aptout
      apt:
        state: latest
        update_cache: true
        name:
          - meld
      when: ansible_os_family == "Debian"
    - debug: var=aptout
      when: ansible_os_family == "Debian"

    - name: "Install meld (macOS)"
      community.general.homebrew_cask:
        name: meld
        state: present
      when: ansible_os_family == "Darwin"
