# AnyUserEscalation()
# [AptProbe()]
# [PipxProbe("posting")]
# A modern, feature-rich TUI HTTP client for testing and exploring APIs.

- name: "Install posting"
  hosts: localhost
  connection: local
  become: true
  gather_facts: false
  tasks:
    - name: "Install pipx"
      register: aptout
      apt:
        state: latest
        update_cache: true
        name:
          - pipx
    - debug: var=aptout

    - name: "Install posting"
      register: aptout
      shell:
        cmd: pipx install posting
    - debug: var=aptout
