# AnyUserEscalation()
# []
# [PipxProbe("posting")]
# A modern, feature-rich TUI HTTP client for testing and exploring APIs.

- name: "Install posting"
  hosts: localhost
  connection: local
  become: true
  gather_facts: true
  tasks:
    - name: "Install pipx (Linux)"
      register: aptout
      apt:
        state: latest
        update_cache: true
        name:
          - pipx
      when: ansible_os_family == "Debian"
    - debug: var=aptout
      when: ansible_os_family == "Debian"

    - name: "Install pipx (macOS)"
      community.general.homebrew:
        name: pipx
        state: present
      when: ansible_os_family == "Darwin"

    - name: "Install posting"
      register: aptout
      shell:
        cmd: pipx install posting
    - debug: var=aptout
