# AnyUserNoEscalationOnDarwin()
# []
# [CommandProbe("curl")]
# Installs a bunch of the basic tools I expect to find on a linux system, such as rsync, sudo, rclone, curl, zip, etc.

- name: "Packages for Debian"
  hosts: localhost
  connection: local
  become: true
  gather_facts: true
  tasks:
    - name: "Install Packages (Linux)"
      register: aptout
      apt:
        update_cache: true
        state: latest
        name:
          - sudo
          - xclip
          - g++
          - cmake
          - gcc
          - tree
          - git
          - g++
          - zip
          - gzip
          - zstd
          - net-tools
          - gdb
          - dos2unix
          - pkg-config
          - build-essential
          - checkinstall
          - curl
          - pv
          - wget
          - gnupg
          - lsb-release
          - tmux
          - rclone
          - rsync
          - powerstat
          - powertop
          - sshfs
          - python3
          - python3-pip
          - eog
      when: ansible_os_family == "Debian"
    - debug: var=aptout
      when: ansible_os_family == "Debian"

    - name: "Install Packages (macOS)"
      community.general.homebrew:
        name:
          - wget
          - cmake
          - tmux
          - htop
          - jq
          - tree
          - pipx
          - rsync
          - rclone
          - pv
          - zstd
          - gnupg
          - dos2unix
          - pkg-config
          - python3
        state: present
      when: ansible_os_family == "Darwin"
