# AnyUserEscalation()
# [AptProbe()]
# [PipxProbe("magic-wormhole")]
# Magic Wormhole - get things from one computer to another, safely. Generates a short one-time code that both sender and receiver use to transfer files securely.

- name: "Install magic-wormhole"
  hosts: localhost
  connection: local
  become: true
  gather_facts: false
  tasks:
    - name: "Install pipx"
      register: aptout
      apt:
        state: latest
        update_cache: true
        name:
          - pipx
    - debug: var=aptout

    - name: "Install magic-wormhole via pipx"
      register: aptout
      shell:
        cmd: pipx install magic-wormhole
    - debug: var=aptout
