# AnyUserEscalation()
# []
# [PipxProbe("magic-wormhole")]
# Magic Wormhole - get things from one computer to another, safely. Generates a short one-time code that both sender and receiver use to transfer files securely.

- name: "Install magic-wormhole"
  hosts: localhost
  connection: local
  become: true
  gather_facts: true
  tasks:
    - name: "Install pipx (Linux)"
      register: aptout
      apt:
        state: latest
        update_cache: true
        name:
          - pipx
      when: ansible_os_family == "Debian"
    - debug: var=aptout
      when: ansible_os_family == "Debian"

    - name: "Install pipx (macOS)"
      community.general.homebrew:
        name: pipx
        state: present
      when: ansible_os_family == "Darwin"

    - name: "Install magic-wormhole via pipx"
      register: aptout
      shell:
        cmd: pipx install magic-wormhole
    - debug: var=aptout
