# AnyUserEscalation()
# [WhichProbe("nvim")]
# [FileMatchProbe("data/config/nvim/init.lua", "~/.config/nvim/init.lua")]
# Installs my nvim config as well as any other packages it needs.

- name: "Install nvim configuration files"
  hosts: localhost
  connection: local
  become: True
  gather_facts: true
  vars:
    user_home: "{{ lookup('env', 'HOME') | default(lookup('env', 'USERPROFILE')) }}"
    config_folder: "{{ playbook_dir }}/../../data/config/"
  tasks:
    - name: "Install plugin requirements (Linux)"
      register: aptout
      apt:
        update_cache: true
        state: latest
        name:
        - ripgrep
        - xclip
      when: ansible_os_family == "Debian"
    - debug: var=aptout
      when: ansible_os_family == "Debian"

    - name: "Install npm (Linux)"
      register: aptout
      apt:
        update_cache: true
        state: latest
        name: npm
      when: ansible_os_family == "Debian"
    - debug: var=aptout
      when: ansible_os_family == "Debian"

    - name: "Install plugin requirements (macOS)"
      community.general.homebrew:
        name: ripgrep
        state: present
      when: ansible_os_family == "Darwin"

    - name: "Install npm (macOS)"
      community.general.homebrew:
        name: node
        state: present
      when: ansible_os_family == "Darwin"

    - name: "Install n"
      register: aptout
      shell:
        cmd: "npm install n -g"
    - debug: var=aptout

    - name: "Install latest nodejs"
      register: aptout
      shell:
        cmd: "n stable"
    - debug: var=aptout

    - name: "Install tree sitter"
      register: aptout
      shell:
        cmd: "npm install -g tree-sitter-cli"
    - debug: var=aptout

    - name: "Clean up previous nvim data"
      file:
        path: "{{ item }}"
        state: absent
      loop:
        - "{{user_home}}/.local/share/nvim/"
        - "{{user_home}}/.config/nvim"
      ignore_errors: yes

    - name: "Move to ~/.config/"
      register: aptout
      shell:
        cmd: "cp -r {{config_folder}}/nvim/ {{user_home}}/.config/"
    - debug: var=aptout
