# AnyUserNoEscalation()
# []
# [FileProbe("~/box/bin")]
# Installs scripts to ~/box/bin

- name: "Install scripts to ~/bin"
  hosts: localhost
  connection: local
  gather_facts: false
  vars:
    user_home: "{{ lookup('env', 'HOME') | default(lookup('env', 'USERPROFILE')) }}"
    scripts_folder: "{{ playbook_dir }}/../../data/scripts/"
  tasks:
    - name: "Make ~/box/bin"
      file:
        path: "{{ user_home }}/box/bin"
        state: directory
        mode: '0755'

    - name: "Clear existing configuration"
      file:
        path: "{{ user_home }}/box/bin"
        state: absent

    - name: "Copy configuration"
      copy:
        src: "{{ scripts_folder }}"
        dest: "{{ user_home }}/box/bin"

    - name: "Fix permissions"
      shell:
        cmd: "chmod +x {{ user_home }}/box/bin/*"

