# AnyUserNoEscalation()
# [WhichProbe("tmux")]
# [FileMatchProbe("data/config/tmux/tmux.conf", "~/.config/tmux/tmux.conf")]
# Installs tmux configuration files.

- name: "Install tmux configuration files"
  hosts: localhost
  connection: local
  gather_facts: false
  vars:
    user_home: "{{ lookup('env', 'HOME') | default(lookup('env', 'USERPROFILE')) }}"
    config_folder: "{{ playbook_dir }}/../../data/config/"
  tasks:
    - name: "Clear existing configuration"
      file:
        path: "{{ user_home }}/.config/tmux/"
        state: absent

    - name: "Copy configuration"
      copy:
        src: "{{ config_folder }}/tmux" 
        dest: "{{ user_home }}/.config/"
